<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-color:rgba(255, 99, 71, 0.2);color:black;padding:20px;">
    ประเภท : {{name.typefood}}
    <br>
    ร้าน : {{name.name_text}}
    <br>

    รีวิว :{% for data in reviews %}
    <fieldset>
    <li>{{data.1}}</li><li>ระดับ {{data.2}} ดาว</li>
    </fieldset>
    {% endfor %}
</body>
</html>

<form action="{% url 'SoiHiso:review' %}" method="post" >
    {% csrf_token %}
    <div style="display:none">
<input type="hidden" name="namerestuarant" value= {{name.id}}>
</div>
<h4>--เพิ่มรีวิวที่นี่--</h4>
Point  :
    <input type="radio" name="point" value="1" />  1 point
    <input type="radio" name="point" value="2" />  2 point
    <input type="radio" name="point" value="3" />  3 point
    <input type="radio" name="point" value="4" />  4 point
    <input type="radio" name="point" value="5" />  5 point  <br>
Review detail :<br>
    <textarea wrap="virtual" name="review_detail" rows="25" cols="100">
    </textarea>
    <br>
    Upload image : <input type="file" name="filename" size="30" />
<br>
<br>
<input type="submit" value="Submit" />
<input type="reset" value="Reset" />
    </form>
